* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
}

.header-container {
    display: grid;
    grid-template-columns: 95% 7%;
    justify-content: center;
    background-color: #5C452D;
    color: #8CB04E;
    font-family: Shrek;
    font-size: 20px;
    width: 100dvw;
    margin-bottom: 40px;
    position: relative;
}

.sub-titulos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: flex-end;
    padding-left: 7%;
}

li {
    padding-bottom: 10px;
    color: #8CB04E;

}

#titulo {
    align-self: flex-start;
    padding: 20px 0px;
    background-image: url('../../assets/img/recicla.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90px;
    margin-bottom: 35px;
    text-wrap: nowrap;
}

#titulo a:link {
    color: #8CB04E;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 10px #E1DFB6;
}

#titulo a:visited {
    color: #8CB04E;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0, #0000 0 10px #E1DFB6;
}

.active-link {
    color: #C5EE7D;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 0 0 10px #E1DFB6, 0 0 20px #E1DFB6, 0 0 30px #E1DFB6;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  

  }
  
  .user-profile {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre imagem e nome */
    margin-left: -55px;
  }
  
  
  .profile-image {
    width: 50px; /* Ajuste o tamanho conforme desejado */
    height: 50px;
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem preencha o contêiner sem distorções */
    border: 2px solid #ccc; /* Borda opcional */
  }
  
  .logout-button {
    position: absolute; /* Faz o botão ser posicionado em relação ao seu contêiner pai */
    bottom: 0; /* Alinha o botão na parte inferior */
    right: 0; /* Alinha o botão na parte direita */
    margin: 10px; /* Adiciona um pequeno espaçamento das bordas */
    padding: 4px 10px;
    background-color: #ff5b4f; /* Cor do botão de logout */
    color: #C5EE7D;
    border: none;
    border-radius: 4px;
    
}

/* Alteração na cor ao passar o mouse sobre o botão de logout */
.logout-button:hover {
    background-color: #e53935; /* Cor do botão de logout ao passar o mouse */
}



  .user-name {
    font-size: 16px; /* Tamanho do texto do nome */
    color: #ffffff; /* Cor do nome */
    font-weight: bold; /* Negrito para destaque */
    
  }
  
  .login-icon {
    width: 62px; /* Ajuste o tamanho do ícone */
    margin-right: 8px; /* Espaço entre ícone e botão */
    
  }
  
  .login-button {
    font-size: 14px;
    padding: 6px 12px;
    background-color: #4CAF50; /* Cor do botão */
    color: #fff;
    border: none;
    border-radius: 4px;
    
  }
  
  .login-button:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
  }



@media (max-width: 900px) {
    .header-container {
        display: none;
    }

}