section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-height: 10%; */
}

img {
    border-radius: 50px;
    margin-top: 60px;
    max-height: 35vh;
    width: auto ;
    border: 4px solid #5C452D;
}
.img-esquerda{
    flex-direction: row-reverse;
}
