<section>
    <div class="text-container">
        <h2 class="text-title">O que Fazemos</h2>
        <p class="paragraph">Somos uma plataforma dedicada a facilitar a conscientização ambiental, conectando pessoas
            com locais de coleta de lixo e reciclagem em suas cidades. Através de nossa ferramenta, promovemos práticas
            sustentáveis e oferecemos aos usuários um sistema de pontos que recompensa aqueles que adotam atitudes
            responsáveis com o meio ambiente, enviando comprovantes de suas ações, como fotos e vídeos de reciclagem e
            descarte adequado.</p>
    </div>
</section>
<section>
    <div class="text-container">
        <h2 class="text-title">Quem Somos</h2>
        <p class="paragraph">Uma empresa comprometida com o desenvolvimento de soluções que promovam a sustentabilidade
            e a preservação do meio ambiente. Nosso time é formado por pessoas em desenvolvimento profissional e
            pretendemos criar impacto positivo na sociedade, por meio da inovação e da educação ambiental. Acreditamos
            que pequenas atitudes diárias podem gerar grandes mudanças, e estamos aqui para facilitar essa
            transformação.</p>
    </div>
</section>
<section class="img-direita">
    <div class="text-container">
        <h2 class="text-title">Sobre a Ferramenta</h2>
        <p class="paragraph">Nossa ferramenta atua como um guia prático para quem deseja adotar um estilo de vida mais sustentável. Ao informar locais de coleta e descarte adequado de resíduos e incentivar a participação ativa dos cidadãos, contribuímos diretamente para a diminuição do lixo nas ruas e o aumento da reciclagem. Além disso, ao recompensar as ações responsáveis, criamos um ciclo de engajamento que beneficia tanto o meio ambiente quanto a comunidade local.</p>
    </div>
    <img class="img" src="assets/img/shrekSegurandoSuculenta.jpg" alt="praça-liberdade-bh">
</section>
<section class="img-esquerda">
    <div class="text-container">
        <h2 class="text-title">Objetivo</h2>
        <p class="paragraph">Nosso objetivo final é transformar a relação das pessoas com o meio ambiente, facilitando o acesso a informações sobre reciclagem e descarte correto de resíduos. Queremos criar uma rede de usuários conscientes, engajados em práticas sustentáveis, e contribuir para cidades mais limpas e organizadas. Com nosso sistema de pontos e recompensas, buscamos incentivar cada vez mais pessoas a se unirem a essa causa e adotarem hábitos que beneficiem o planeta e a sociedade.</p>
    </div>
    <img class="img" src="assets/img/pracaLiberdadeBh.jpg" alt="shrek-segurando-suculenta">
</section>
