* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Estilização principal do main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Divide o espaço em duas colunas */
  grid-template-rows: 1fr 1fr;
  /* Divide o espaço em duas linhas */
  height: 70vh;
  max-height: 70vh;
  gap: 5px;
  /* Diminui o espaçamento entre os elementos */
  align-items: center;
}

/* Seção de introdução */
.intro {
  width: 80%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background: #8CB04E;
  color: #3B2D1F;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  grid-column: 2 / 3;
}

/* Seção de pesquisa */
.search {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  background: #E8FFB5;
  border: 2px solid #5C452D;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  grid-column: 2 / 3;
}

#search-bar {
  width: 70%;
  padding: 10px;
  border: 2px solid #5C452D;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
}

button {
  background-color: #5C452D;
  color: #E8FFB5;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #8CB04E;
}

.mapa {
  text-align: center;
  padding: 15px;
  background: #E8FFB5;
  border: 2px solid #5C452D;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}