<main>
    <div class="logo"><h1>Swamp Green</h1></div>
    <div class="container">
        <div class="left-panel">
            <h2>Bem Vindo de Volta</h2>
            <button (click)="navigateToDestino()" class="button-navigate" >Login</button>
        </div>
        <div class="right-panel">
            <h2>Crie sua conta</h2>
            <div class="form-group">
                <img src="../../assets/img/icons/login-icon.png" alt="User Icon">
                <input type="text" placeholder="Nome" [(ngModel)]="name">
            </div>
            <div class="form-group">
                <img src="../../assets/img/icons/email-icon.png" alt="Email Icon">
                <input type="email" placeholder="Email" [(ngModel)]="email">
            </div>
            <div class="form-group">
                <img src="../../assets/img/icons/senha-icon.png" alt="Password Icon">
                <input type="password" placeholder="Senha" [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'">
                <img src="../../assets/img/icons/olho-para-senhas.png" (click)="togglePasswordVisibility()" alt="Mostrar Senha" class="toggle-password">
            </div>
            <div class="form-group">
                <img src="../../assets/img/icons/senha-icon.png" alt="Password Icon">
                <input type="password" placeholder="Confirme a Senha" [(ngModel)]="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'">
                <img src="../../assets/img/icons/olho-para-senhas.png" (click)="toggleConfirmPasswordVisibility()" alt="Mostrar Senha" class="toggle-password">
            </div>

            <!-- Novo campo para CPF -->
            <div class="form-group">
                <img src="../../assets/img/icons/cpf-icon.png" alt="CPF Icon"> <!-- Coloque o ícone correspondente ao CPF -->
                <input type="text" placeholder="CPF" inputmode="numeric" maxlength="14" [(ngModel)]="cpf" (input)="formatCPF()" (keydown)="allowOnlyNumbers($event)" >
            </div>

            <button class="register-button button-submit" (click)="validateForm()">Cadastrar</button>
        </div>
    </div>
    <a href="/" class="return">
        &lt;&lt;&lt;
        <span class="text-return">Voltar</span>
    </a>
</main>