 /* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Shrek';
    margin: 0;
    padding: 0;
    letter-spacing: 0.8px;
    box-sizing: border-box;
    text-decoration: none;
}
a:visited {
    color: inherit;  /* Mantém a cor do link igual à cor normal, ou defina uma cor específica */
    text-decoration: none;
  }
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  img, div {
    max-width: 100%;
    height: auto;
  }

body {
    background-color: #C5EE7D;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: block;
}

@font-face {
    font-family: 'Shrek';
    src: url('../fonts/SHREK___.TTF');
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about {
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pesquisa {
    width: 350px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #5C452D;
    background: #E1DFB6;
    padding-left: 10px;
    margin: 5px;
}

#Enviar {
    width: 80px;
    height: 50px;
    border-radius: 15px;
    border: 2px solid #5C452D;
    background: #8CB04E;

}

.img-button {
    max-width: 60%;
}
.erro404{
    display: none;
}

.text-title {
    
    color: #8CB04E;
    font-family: Shrek;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.text-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    width: 70vw;
}
.text-container p {
    border-radius: 15px;
    border: 3px solid #5C452D;
    background: rgba(92, 69, 45, 0.26);
    padding: 30px 20px;
    text-align: justify;
    color: #5C452D;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
}

.text-title {
    padding: 8px;
}

/* @media (max-width: 900px) {
    .erro404 {
        display: block;
        width: 100vw;
        height: 100vh;
        background: black url('../src/assets/img/shrekSegurandoSuculenta.jpg') no-repeat center / contain;
        color: white;
        text-align: center;
    }
    app-root{
        display: none;
    }
} */
